*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main, header{
    margin: 5vh 10vw;
}

header{
    display: flex;
    justify-content: space-between;
}

#products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-photo{
    max-width: 100px;
    box-shadow: 0 0 5px #000;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
}



@media screen and (max-width: 1000px) {
    #products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #products-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}


#profile {
    background-color: tomato;
    padding: 1rem 3rem;
    flex-basis: 20rem;
    text-align: center;
    border-radius: 1rem;
}
.profile-img{
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #000;
    width: 10rem;
    margin: 2rem 0;
    background-color: #ffffff;
}
.products-link{
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    transition: all .5s;
}

.products-link:hover{
    transform: scale(1.2);
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user-products{
    position: relative;
}

.user-products h1{
    position: absolute;
    left: 2rem;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
}

#user-products-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: tomato;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}

#cart-products{
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 10px;
    text-align: left;
    top: 59px;
    right: 0rem;
    left: -16rem;
    position: absolute;
}

#cart-button i{
    font-size: 32px;
}

#cart-button{
    border: none;
    background: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    transition: all .5s;
}

#cart{
    position: relative;
}

#cart-button:hover{
    background: rgb(170, 170, 255);
    color: tomato;
    cursor: pointer;
}

#cart-products::before{
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;     
}

.hide{
    display: none;
}

#cart-products img{
    max-width: 25px;
    max-height: 25px;
}