*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main, header{
    margin: 5vh 10vw;
}

header{
    display: flex;
    justify-content: space-between;
}

#products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

